.skill--basic,
.skill--pro,
.skill--advanced {
  display: block;
  position: relative;
  height: 0;

  grid-column-start: 5;
  grid-column-end: 13;
  font-size: 0.7rem;
}

@media screen and (min-width: 39rem) {
  .skill--basic,
  .skill--pro,
  .skill--advanced {
    grid-column-start: 4;
  }
}

.skill--basic::after,
.skill--pro::after,
.skill--advanced::after {
  content: "";
  width: 1px;
  height: 0.9rem;
  background-color: #004b5f;
  display: block;
  margin-top: 0.45rem;
}

.skill--basic::after {
}
.skill--pro::after {
  margin-left: calc(50% - .5px);
}
.skill--advanced::after {
  margin-left: calc(100% - .5px);
}

.skill--basic {
  margin-top: 0.6rem;
}

.skill--pro {
  text-align: center;
}

.skill--advanced {
  text-align: right;
}

.skill--label {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: -0.9rem;
}

.list--col_1--level {
  transition: width 350ms;
}
