.skill--basic,
.skill--pro,
.skill--advanced {
  position: relative;
  height: 0;

    grid-column-start: 5;
    grid-column-end: 13;
}
.skill--basic {
  background-color: red;
/*
  grid-column-start: 5;
  grid-column-end: 8; */
}

.skill--pro {
  background-color: green;

  /* grid-column-start: 5;
  grid-column-end: 13; */
  text-align: center;

}

.skill--advanced {
  background-color: yellow;
/*
  grid-column-start: 10;
  grid-column-end: 13; */
  text-align: right;
}
.skill--label {
  position: absolute;
  width: 100%;
  margin-top: -0.9rem;

}

@media screen and (min-width: 39rem) {
  .skill--basic {
    grid-column-start: 4;
    /* grid-column-end: 7; */
  }

  .skill--pro {
    /* grid-column-start: 7;
      grid-column-end: 10; */
  }

  .skill--advanced {
    /* grid-column-start: 10;
      grid-column-end: 13; */
  }
}
