html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  color: #222;
}

@media screen and (min-width: 39rem) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 60rem) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
}

::selection {
  background: #004b5f;
  color: white;
  text-shadow: none;
}
